@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Philosopher:wght@700&display=swap');

.logo {
    font-size: 38px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-text {
    color: #ff9800;
    font-family: 'Philosopher', sans-serif;
}

.logo-accent {
    color: #000000;
    font-family: 'Montserrat Alternates', sans-serif;
}

@media (max-width: 768px) {
    .logo {
        font-size: 28px;
    }

    .img-shape {
        height: auto;
        width: 520px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }

    .img-shape {
        height: auto;
        width: 420px;
    }
}

.author-img {
    height: 40px;
    width: 40px;
    border-radius: 20px;


}

.text-decoration p {
    line-height: 7px;
}

.category-count {
    border: 1px solid rgba(87, 86, 86, 0.212);
    border-radius: 6px;
    margin-top: 44px;
    margin-bottom: 44px;
    padding: 10px;
}